/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  #hero {
    display: none; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #hero {
    display: inline-block;
    width: 100%; }
    #hero .flexslider {
      width: 100%; }
      #hero .flexslider .flex-viewport {
        height: 600px; }
      #hero .flexslider .slides {
        width: 100%;
        padding: 0; }
        #hero .flexslider .slides li {
          width: 100%; }
      #hero .flexslider .flex-direction-nav {
        display: none; }
      #hero .flexslider .flex-control-thumbs {
        display: flex;
        background-image: url("assets/herobg.jpg");
        background-size: cover;
        margin: 0;
        padding: 20px 80px; }
        #hero .flexslider .flex-control-thumbs li {
          float: left;
          flex-grow: 1;
          padding: 1px; }
          #hero .flexslider .flex-control-thumbs li img {
            width: 100%; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
