/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        #large-character-detail{
            display:none;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        #large-character-detail{
            display:inline-block;
            width:100%;
                article{
                    width:100%;
                    .lg-art-container{
                        width:100%;
                        position:relative;
                        overflow:hidden;
                        padding:100px 0px;

                            img{
                                position:absolute;
                                bottom:0;
                                height:90%;
                            }

                        .lg-character-info{
                            background: $black-transparent;
                            color:white;
                            padding: 50px 20px;


                                h2{
                                    font-size: 2.5em;
                                    margin-top:0;
                                    margin-bottom:15px;
                                }

                                 h3{
                                    margin-top:0;
                                    font-style:italic;
                                    
                                }

                                h4{
                                    margin-bottom:0;
                                    color: $pale-gold;
                                    text-transform: uppercase;
                                    font-size: .9em
                                }
                                h5{
                                margin-top:5px;
                                font-size: .7em;
                                font-weight: 400;
                                text-transform: uppercase
                                }

                                .video-button{
                                    color:white;
                                    background:#0070C7;
                                    padding:15px;
                                    display: inline-block;
                                    margin: 20px 0;

                                }

                                .row{
                                    padding:50px 0;
                                }

                                .stats{
                                    .stat{
                                        flex-grow:1;
                                        text-align:center;
                                        position:relative;
                                        padding: 10px;
                                            img{
                                                position:relative;
                                                width:100%;
                                                display:flex;
                                                height:auto;
                                                margin-bottom: 20px;
                                            }
                                    }
                                }
                        }
                    }

                    .lg-abilities{
                    padding:100px 0 200px 0;
                    text-align:center;
                    position:relative;
                    display:inline-block;
                    color:white;
                    width:100%;
                    background:black;
                    h5,h4{
                        color:$gold;
                    }
                    h5{
                        margin-bottom:5px;
                    }
                    h4{
                        margin-top:0;
                    }

                        .ability-icon{
                            height:50px;
                        }
                    }
                }
        }











        #dekker-lg-detail{
            .lg-art-container{
                background-image:url('assets/dekker-bg.jpg');
                background-size:cover;
                    #dekker-cutout-lg{
                        left:10%;
                    }
            }
        }



        #fengmao-lg-detail{
            .lg-art-container{
                background-image:url('assets/fengmao-bg.jpg');
                background-size:cover;
                    #fengmao-cutout-lg{
                        right: 0;
                    }
            }
        }

         #gideon-lg-detail{
            .lg-art-container{
                background-image:url('assets/gideon-bg.jpg');
                background-size:cover;
                    #gideon-cutout-lg{
                    left:20%;
                    }
            }
        }

        #grux-lg-detail{
            .lg-art-container{
                background-image:url('assets/grux-bg.jpg');
                background-size:cover;
                    #grux-cutout-lg{
                    }
            }
        }

        #kallari-lg-detail{
            .lg-art-container{
                background-image:url('assets/kallari-bg.jpg');
                background-size:cover;
                    #kallari-cutout-lg{
                    }
            }
        }

        #howitzer-lg-detail{
            .lg-art-container{
                background-image:url('assets/howitzer-bg.jpg');
                background-size:cover;
                    #howitzer-cutout-lg{
                        right:0;
                    }
            }
        }

        #gadget-lg-detail{
            .lg-art-container{
                background-image:url('assets/gadget-bg.jpg');
                background-size:cover;
                    #gadget-cutout-lg{
                    left:15%;
                    }
            }
        }

        #murdock-lg-detail{
            .lg-art-container{
                background-image:url('assets/murdock-bg.jpg');
                background-size:cover;
                    #murdock-cutout-lg{
                    left:15%;
                    }
            }
        }

        #muriel-lg-detail{
            .lg-art-container{
                background-image:url('assets/muriel-bg.jpg');
                background-size:cover;
                    #muriel-cutout-lg{
                    left:10%;
                    }
            }
        }

        #rampage-lg-detail{
            .lg-art-container{
                background-image:url('assets/rampage-bg.jpg');
                background-size:cover;
                    #rampage-cutout-lg{
                        right:0;
                    }
            }
        }

          #sparrow-lg-detail{
            .lg-art-container{
                background-image:url('assets/sparrow-bg.jpg');
                background-size:cover;
                    #sparrow-cutout-lg{
                    }
            }
        }

          #steel-lg-detail{
            .lg-art-container{
                background-image:url('assets/steel-bg.jpg');
                background-size:cover;
                    #steel-cutout-lg{
                    right:10%;
                    }
            }
        }

          #twinblast-lg-detail{
            .lg-art-container{
                background-image:url('assets/twinblast-bg.jpg');
                background-size:cover;
                    #twinblast-cutout-lg{
                    left:15%;
                    }
            }
        }
    




    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

       

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }