/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        #large-character-detail{
            display:none;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        #large-character-detail{
            display:inline-block;
            width:100%;
                article{
                    width:100%;
                    .lg-art-container{
                        width:100%;
                        position:relative;
                        overflow:hidden;
                        padding:100px 0px;

                            img{
                                position:absolute;
                                bottom:0;
                                height:90%;
                            }

                        .lg-character-info{
                            background: $black-transparent;
                            color:white;
                            padding: 50px 20px;
                            text-align:center;

                              .ability-button{
                                color: white;
                                background: black;
                                padding: 10px 20px;
                                display: inline-block;
                                margin-top: 30px;
                                text-transform: uppercase;
                                font-size: .9em;
                    }


                                h2{
                                    font-size: 2.5em;
                                    margin-top:0;
                                    margin-bottom:15px;
                                }

                                 h3{
                                    margin-top:0;
                                    font-style:italic;
                                    
                                }

                                h4{
                                    margin-bottom:0;
                                    color: $pale-gold;
                                    text-transform: uppercase;
                                    font-size: .9em
                                }
                                h5{
                                margin-top:5px;
                                font-size: .7em;
                                font-weight: 400;
                                text-transform: uppercase
                                }

                                .video-button{
                                    color:white;
                                    background:#0070C7;
                                    padding: 10px 20px;
                                    display: inline-block;
                                    margin-top: 30px;
                                    text-transform: uppercase;
                                    font-size: .9em;

                                }

                                .row{
                                    padding:15px 0;
                                }

                                .role{
                                    figure{
                                        flex-grow:1;
                                        margin:15px 0;
                                            img{
                                                width:50%;
                                                margin:auto;
                                                position:relative;
                                                height:auto;
                                            }
                                    }
                                }

                                .affinity{
                                    figure{
                                        flex-grow:1;
                                         margin:15px 0;
                                            img{
                                                width:30%;
                                                margin:auto;
                                                position:relative;
                                                height:auto;
                                            }
                                    }
                                }

                                .stats{
                                    .stat{
                                        flex-grow:1;
                                        text-align:center;
                                        position:relative;
                                        padding: 10px;
                                            img{
                                                    position: relative;
                                                    width: 70%;
                                                    display: flex;
                                                    height: auto;
                                                    margin: auto;
                                                    margin-bottom: 20px;
                                            }
                                            h5{
                                            margin-bottom:0;
                                            }
                                    }
                                }
                        }
                    }

                    .lg-abilities{
                    padding:100px 0 200px 0;
                    text-align:center;
                    position:relative;
                    display:inline-block;
                    color:white;
                    width:100%;
                    background:black;



                        .container{
                            border: solid rgba(255,255,255,.5) 1px;                            
                            padding: 20px 60px;;
                            .ability-row{
                            margin-top:-170px;
                            }
                            .row{
                                h1{
                                            transform: translate(0, -120px);
                                            background: black;
                                            padding: 20px;
                                            display: inline-block;
                                            font-size: 3em;
                                }
                            }

                        }

                    h5,h4{
                        color:$gold;
                    }
                    h5{
                        margin-bottom:5px;
                    }
                    h4{
                        margin-top:0;
                    }

                        .ability-icon{
                            height:50px;
                        }
                    }
                }
        }









  #dekker-lg-detail{
            .lg-art-container{
                background-image:url('assets/dekker-bg.jpg');
                background-size:cover;
                }
            }

     
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #dekker-cutout-lg{
                        left:-18%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #dekker-cutout-lg{
                left:-10%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #dekker-cutout-lg{
                left:0%;
                }
    }



        #fengmao-lg-detail{
            .lg-art-container{
                background-image:url('assets/fengmao-bg.jpg');
                background-size:cover;
            }
        }

        /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #fengmao-cutout-lg{
                        right:-40%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #fengmao-cutout-lg{
                right:-20%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #fengmao-cutout-lg{
                right:0%;
                }
    }


         #gideon-lg-detail{
            .lg-art-container{
                background-image:url('assets/gideon-bg.jpg');
                background-size:cover;
            }
        }

         /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #gideon-cutout-lg{
                        left:0%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #gideon-cutout-lg{
                left:10%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #gideon-cutout-lg{
                left:20%;
                }
    }

        #grux-lg-detail{
            .lg-art-container{
                background-image:url('assets/grux-bg.jpg');
                background-size:cover;
            }
        }

              /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #grux-cutout-lg{
                        left:-80%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #grux-cutout-lg{
                left:-55%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #grux-cutout-lg{
                left:-25%;
                }
    }

        #kallari-lg-detail{
            .lg-art-container{
                background-image:url('assets/kallari-bg.jpg');
                background-size:cover;
                
            }
        }

         /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #kallari-cutout-lg{
                        left:-100%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #kallari-cutout-lg{
                left:-60%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #kallari-cutout-lg{
                left:-30%;
                }
    }

        #howitzer-lg-detail{
            .lg-art-container{
                background-image:url('assets/howitzer-bg.jpg');
                background-size:cover;
            }
        }

        /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #howitzer-cutout-lg{
                        right:-75%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #howitzer-cutout-lg{
                right:-50%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #howitzer-cutout-lg{
                right:-20%;
                }
    }


        #gadget-lg-detail{
            .lg-art-container{
                background-image:url('assets/gadget-bg.jpg');
                background-size:cover;
                    }
            }

             /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #gadget-cutout-lg{
                        left:-10%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #gadget-cutout-lg{
                left:0%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #gadget-cutout-lg{
                left:10%;
                }
    
        }

        #murdock-lg-detail{
            .lg-art-container{
                background-image:url('assets/murdock-bg.jpg');
                background-size:cover;
            
            }
        }

          /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #murdock-cutout-lg{
                        left:-15%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #murdock-cutout-lg{
                left:-5%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #murdock-cutout-lg{
                left:5%;
                }
    
        }

        #muriel-lg-detail{
            .lg-art-container{
                background-image:url('assets/muriel-bg.jpg');
                background-size:cover;
            }
        }

          /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #muriel-cutout-lg{
                        left:-40%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #muriel-cutout-lg{
                left:-20%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #muriel-cutout-lg{
                left:0%;
                }
    }

        #rampage-lg-detail{
            .lg-art-container{
                background-image:url('assets/rampage-bg.jpg');
                background-size:cover;
                    }
            
        }

                  /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #rampage-cutout-lg{
                        right:-85%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #rampage-cutout-lg{
                right:-60%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #rampage-cutout-lg{
                right:-25%;
                }
    }



          #sparrow-lg-detail{
            .lg-art-container{
                background-image:url('assets/sparrow-bg.jpg');
                background-size:cover;
            }
        }

                     /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #sparrow-cutout-lg{
                        left:-45%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #sparrow-cutout-lg{
                left:-25%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #sparrow-cutout-lg{
                left:-10%;
                }
    }


          #steel-lg-detail{
            .lg-art-container{
                background-image:url('assets/steel-bg.jpg');
                background-size:cover;
            }
        }

                         /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #steel-cutout-lg{
                        right:-25%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #steel-cutout-lg{
                right:-15%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #steel-cutout-lg{
                right:0%;
                }
    }


          #twinblast-lg-detail{
            .lg-art-container{
                background-image:url('assets/twinblast-bg.jpg');
                background-size:cover;
            }
        }

                             /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

         
                    #twinblast-cutout-lg{
                        left:-15%;
                    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #twinblast-cutout-lg{
                left:-5%;
                }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #twinblast-cutout-lg{
                left:10%;
                }
    }

    




    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

       

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }