/*
Error: Invalid CSS after "@import "animate"": expected selector or at-rule, was "@import "hero";"
        on line 5 of /Users/garrettscafani/Dropbox/projects/playstation/paragon/paragon/main.scss

1: @import "variables";
2: @import "mobileCharacterSelect";
3: @import "mobileCharacterCard";
4: @import "animate"
5: @import "hero";

Backtrace:
/Users/garrettscafani/Dropbox/projects/playstation/paragon/paragon/main.scss:5
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1115:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:40:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \"animate\"\": expected selector or at-rule, was \"@import \"hero\";\"\A         on line 5 of /Users/garrettscafani/Dropbox/projects/playstation/paragon/paragon/main.scss\A \A 1: @import \"variables\";\A 2: @import \"mobileCharacterSelect\";\A 3: @import \"mobileCharacterCard\";\A 4: @import \"animate\"\A 5: @import \"hero\";"; }
