$dark-gray: #2a2a2a;
$gold: #dbbd68;
$dark-gray-transparent: rgba(42,42,42,.90);
$pale-gold: #acab9c;
$black-transparent: rgba(0,0,0,.9);










@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

.flex{
	display:flex;
}

body{
	margin:0;
	font-family: sans-serif;
	width:100%;
	overflow-x:hidden;
}


.img-responsive{
	width:100%;
}

.step{
	background:black;;
	height:60px;
	width:170px;
	position:absolute;
}

.top{
	top:0;
}


.bottom{
	bottom:0;
}

.left{
	left:0;
}

.right{
	right:0;
}