#gravityrush-hero{
	.hero{
	background-image: url('assets/gravityrush/bg.jpg');

	.logo{
		position:absolute;
		bottom:5%;
	}

	.kat{
		position:absolute;
		right:0;
	}

	}
}

#gravityrush-two-column{
	.bg{
		
	}
}