body{
	margin:0 0 100px 0;
	font-family:sans-serif;
}

h1{
	margin-top:0px;
}

.center{
	text-align:center;
}

.hero{
	height:600px;
	width:100%;
}

section{
	margin:100px 0;
}

.img-responsive{
	width:100%;
}

.bg-img{
	width:100%;
	z-index:1;
}

.foreground-img{
	position:absolute;
	z-index:10;
}

.step{
	height:60px;
	width:130px;
	background:white;
	position:absolute;
}

.top{
	top:0
}

.right{
	right:0;
}

.bottom{
	bottom:0;
}

.left{
	left:0;
}

.text-wrap{
	    padding: 20px 40px 40px 40px;

}

.black{
	background:rgba(0,0,0,.85);
}