&lt;ul class=&quot;sg-colors&quot;&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #003087;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#003087&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #0072CE;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#0072CE&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00AE9E;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#00AE9E&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #5786C5;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#5786C5&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #D38CBD;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#D38CBD&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F27478;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#F27478&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #63666A;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#63666A&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #8A8D8F;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#8A8D8F&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #B1B3B3;&quot;&gt;&lt;/span&gt;
			&lt;span class=&quot;sg-label&quot;&gt;#B1B3B3&lt;/span&gt;
		&lt;/li&gt;
&lt;/ul&gt;